body {  color: DarkSalmon; }

header { color: darkviolet }
 
h1 {  color: blue; font-size: 24px; font-style: italic; font-family: "Times New Roman", Times, serif; }

section {  color: LemonChiffon; font-size: 12px; border-style: solid; }

nav > ul {  color: BlueViolet;   
    border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 40px;}

footer {  color: Turquoise; font-size: 10px;}
